In [6]:
import pandas as pd
from pathlib import Path
import csv
import numpy as np

In [124]:
cwd = Path.cwd()
filepath = ('./whale_returns.csv')
whale_data = pd.read_csv(filepath,index_col = 'Date', parse_dates = True)

In [125]:
df_whale=pd.DataFrame(whale_data)

In [11]:
null = df_whale.isnull()
null

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
0,False,True,True,True,True
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
...,...,...,...,...,...
1055,False,False,False,False,False
1056,False,False,False,False,False
1057,False,False,False,False,False
1058,False,False,False,False,False
1059,False,False,False,False,False

In [126]:
df_whale_cl = df_whale.dropna()
df_whale_cl

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
2015-03-09,0.000582,0.004225,0.005843,-0.001652
...,...,...,...,...
2019-04-25,-0.000285,-0.001291,-0.005153,0.004848
2019-04-26,0.008149,0.009162,0.012355,0.010434
2019-04-29,0.001254,0.002719,0.006251,0.005223
2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702
2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833

In [91]:
snp_data = pd.read_csv('sp_tsx_history.csv')

In [100]:
snp_data = pd.read_csv('sp_tsx_history.csv', index_col = 'Date', parse_dates = True)
snp_data.head()

                 Close
Date
2012-10-01  $12,370.19
2012-10-02  $12,391.23
2012-10-03  $12,359.47
2012-10-04  $12,447.68
2012-10-05  $12,418.99

In [113]:
df_snp_data = pd.DataFrame(snp_data)
#df_snp_data.columns=["Date","Close"]

In [106]:
#df_snp_data["Close"] = df_snp_data["Close"].str.replace("$","")
#df_snp_data["Close"] = df_snp_data["Close"].str.replace(",","")
#df_snp_data["Close"] = df_snp_data["Close"].astype("float")
#df_snp_data["Close"] = df_snp_data["Close"].astype("int")
#df_snp_data["Close"].str.isnumeric()
#df_snp_data.dtypes

In [114]:
df_snp_data["Close"]

Date
2012-10-01    12370.19
2012-10-02    12391.23
2012-10-03    12359.47
2012-10-04    12447.68
2012-10-05    12418.99
                ...
2019-12-20    17118.44
2019-12-23    17128.71
2019-12-24    17180.15
2019-12-27    17168.21
2019-12-30    17098.56
Name: Close, Length: 1818, dtype: float64

In [115]:
df_anp_daily_returns = df_snp_data["Close"].pct_change().dropna()
df_anp_daily_returns

Date
2012-10-02    0.001701
2012-10-03   -0.002563
2012-10-04    0.007137
2012-10-05   -0.002305
2012-10-09   -0.011709
                ...
2019-12-20    0.003188
2019-12-23    0.000600
2019-12-24    0.003003
2019-12-27   -0.000695
2019-12-30   -0.004057
Name: Close, Length: 1817, dtype: float64

In [116]:
std = daily_returns.std()
std.head()

Close    0.006637
dtype: float64

In [128]:
algo_return = pd.read_csv('algo_returns.csv', index_col = 'Date', parse_dates = True)
df_algo_return =pd.DataFrame(algo_return)
df_algo_return

              Algo 1    Algo 2
Date
2014-05-28  0.001745       NaN
2014-05-29  0.003978       NaN
2014-05-30  0.004464       NaN
2014-06-02  0.005692       NaN
2014-06-03  0.005292       NaN
...              ...       ...
2019-04-25  0.000682 -0.007247
2019-04-26  0.002981  0.005256
2019-04-29  0.005208  0.002829
2019-04-30 -0.002944 -0.001570
2019-05-01  0.000094 -0.007358

[1241 rows x 2 columns]

In [129]:
combined_data = pd.concat([df_whale_cl,df_anp_daily_returns,df_algo_return], axis='columns',join='inner')
combined_data.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Close,Algo 1,Algo 2
Date,,,,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569,-0.008530,-0.001942,-0.000949
2015-03-04,0.002230,0.003241,-0.002534,0.004213,-0.003371,-0.008589,0.002416
2015-03-05,0.004016,0.004076,0.002355,0.006726,0.001344,-0.000955,0.004323
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098,-0.009972,-0.004957,-0.011460
2015-03-09,0.000582,0.004225,0.005843,-0.001652,-0.006555,-0.005447,0.001303

In [29]:
df_snp_data = df_snp_data["Close"].values().to_numeric()

TypeError: 'numpy.ndarray' object is not callable

In [30]:
daily_returns = df_snp_data.pct_change()
daily_returns.head()

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [31]:
pnl_diff = {}
with open(filepath, 'r') as csvfile:
    csvreader = csv.reader(csvfile, delimiter = ',')
    header = next(csvreader)
    first_row = next(csvreader)
    prev_pnl = int(first_row[1])
    for row in csvreader:
        diff = int(row[1]) - prev_pnl
        prev_pnl = int(row[1])
        pnl_diff[row[0]] = diff

ValueError: invalid literal for int() with base 10: ''

In [ ]:
 element = []
for elements in df_snp_data["Close"]
  csvreader = csv.reader(csvfile, delimiter = ',')
    header = next(csvreader)
    first_row = next(csvreader)
    prev_pnl = int(first_row[1])
    changes = df_snp_data["Canges",row[1]]-df_snp_data["Canges",row[0]]